* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: black;
}

.clearfix {
    clear: both;
    float: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#logo img {
    width: 200px;
}